<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
			   xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
	  <links>
		  <!--Patch Instead example-->
		  <!--<itemUrlBuilder type="Sitecore.DemoProject.MVC.Web.CustomCode.CustomLinkProvider,Sitecore.DemoProject.MVC.Web"
						  patch:instead="*[@type='Sitecore.Links.UrlBuilders.ItemUrlBuilder, Sitecore.Kernel']">
			  <param type="Sitecore.Links.UrlBuilders.DefaultItemUrlBuilderOptions, Sitecore.Kernel" desc="defaultOptions">
				  <alwaysIncludeServerUrl ref="links/urlBuilder/alwaysIncludeServerUrl"/>
				  <languageEmbedding ref="links/urlBuilder/languageEmbedding"/>
				  <languageLocation ref="links/urlBuilder/languageLocation"/>
				  <lowercaseUrls ref="links/urlBuilder/lowercaseUrls"/>
				  <encodeNames ref="links/urlBuilder/encodeNames"/>
				  <useDisplayName ref="links/urlBuilder/useDisplayName"/>
				  <addAspxExtension>false</addAspxExtension>
				  <siteResolving>true</siteResolving>
				  <shortenUrls>true</shortenUrls>
			  </param>
		  </itemUrlBuilder>-->

		  <!--Patch Delete example-->
		  <!--<itemUrlBuilder>
			  <patch:delete/>
		  </itemUrlBuilder>
		  <itemUrlBuilder type="Sitecore.DemoProject.MVC.Web.CustomCode.CustomLinkProvider,Sitecore.DemoProject.MVC.Web">
			  <param type="Sitecore.Links.UrlBuilders.DefaultItemUrlBuilderOptions, Sitecore.Kernel" desc="defaultOptions">
				  <alwaysIncludeServerUrl ref="links/urlBuilder/alwaysIncludeServerUrl"/>
				  <languageEmbedding ref="links/urlBuilder/languageEmbedding"/>
				  <languageLocation ref="links/urlBuilder/languageLocation"/>
				  <lowercaseUrls ref="links/urlBuilder/lowercaseUrls"/>
				  <encodeNames ref="links/urlBuilder/encodeNames"/>
				  <useDisplayName ref="links/urlBuilder/useDisplayName"/>
				  <addAspxExtension>false</addAspxExtension>
				  <siteResolving>true</siteResolving>
				  <shortenUrls>true</shortenUrls>
			  </param>
		  </itemUrlBuilder>-->
		  
		  <!--Patch Attribute example-->
		  <itemUrlBuilder>
			  <patch:attribute name="type">
				  Sitecore.DemoProject.MVC.Web.CustomCode.CustomLinkProvider,Sitecore.DemoProject.MVC.Web
			  </patch:attribute>
		  </itemUrlBuilder>
		  
		  <!--set example-->
		  <!--<itemUrlBuilder set:type="Sitecore.DemoProject.MVC.Web.CustomCode.CustomLinkProvider,Sitecore.DemoProject.MVC.Web" />-->
	  </links>
  </sitecore>
</configuration>