<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
			   xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
	  <pipelines>
		  <httpRequestBegin>
			  <processor type="Sitecore.DemoProject.MVC.Web.CustomCode.CustomItemResolver,Sitecore.DemoProject.MVC.Web"
						 patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
		  </httpRequestBegin>
	  </pipelines>
  </sitecore>
</configuration>